
# SuSE subscription registration code
suse_registration_code = <registration_code>

# Base path where the SuSE package repositories
# will be mirrored.
base_path = /srv/mirror/suse

# Number of threads to use
nthreads = 20

# Number times to retry downloading metadata and files
max_retries = 3

# Permissions and ownership
umask = 0022
owner = www-data
group = www-data

# List of distribution and architectures to be mirrored
mirror_sections =
    sle-11-x86_64
    sle-12-x86_64

# List of repositories to be excluded
#exclude_repositories =
